<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  
  <body>
    <!--{% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}-->

	
  <div class="form">
		<form action="/movieAnkete" method="get">
			<div style="float:left">
				Meno<br>
				<input type="text" name="firstname"><br>
      </div>  
      <div style="float:left">
				Priezvisko<br>
				<input type="text" name="lastname">
			</div>
      
      <div style="clear:both;">&nbsp;</div>
      
			<div style="float:left">
			  Potvrdenie účasti<br>
			  <input type="radio" name="attendance" value="yes">áno<br>
			  <input type="radio" name="attendance" value="no">nie
			</div>
			<div style="float:left">
			  Zamestnávateľ<br>
			  <input type="radio" name="employer" value="male">Union<br>
			  <input type="radio" name="employer" value="unionZp">Union Zp
			</div>
      
      <div style="clear:both;">&nbsp;</div>
      
			<div>
			  Pracovisko<br>
			  <select>
				<option value="ba">Bratislava</option>
				<option value="st">Stupava</option>
			  </select>
			</div>
			<div>
				<input type="checkbox" name="accomodation" value="yes">Mám záujem o ubytovanie<br>
			</div>
			<div>
			  Trvalé bydlisko<br>
			  <textarea name="residence" rows="3" cols="40"></textarea>
			</div>
			<div>
			  Spolubývajúci<br>
			  <input type="text" name="roommate"><br>
			</div>
		</form>
	</div>
  
  <div class="notes">
		<form action="/movieAnkete" method="get">			
			<div>
				Informačné pokyny k vyplneniu prihlasovacieho formulára:
				<ul>
					<li>Pri výbere zamestnávateľa si zamestnanci, ktorí majú zdieľaný úväzok, vyberú tú spoločnosť, v ktorej majú väčší úväzok. </li>
					<li>Ubytovanie si môžu nárokovať tí, ktorých miesto výkonu práce je vzdialené viac ako 90 km od Bratislavy.</li>
					<li>Ubytovanie je zabezpečené priamo v hoteli Crowne Plaza</li>
					<li>V prípade záujmu o ubytovanie sa navzájom dohodnite, s kým budete ubytovaní na izbe a vyplňte meno spolubývajúceho. V ponuke sú 2-lôžkové izby.</li>
					<li>Doprava nie je organizovaná autobusmi, prosíme Vás, aby ste sa dohodli s kolegami, ktorí majú služobné autá a navzájom si poskytli odvoz, prípadne využili MHD (posádka auta by mala byť minimálne 3 ľudia).</li>
					<li>Parkovanie pre ubytovaných hostí je zabezpečené v hoteli Crowne Plaza</li>
					<li>Podrobnejšie informácie o ubytovaní a inštrukcie k vykazovaniu dochádzky Vám budú zaslané emailom.</li>
					<li>Ak máte otázky týkajúce sa organizačných pokynov, zasielajte ich na union@branda.sk</li>
				</ul>
			</div>
			<div>
				<input type="submit" value="Ďalej">
			</div>
		</form>
	</div>
  
  
    
<!--
    <form>Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>
-->
  </body>
</html>
{% endautoescape %}