<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
  	<title>Vaša maska</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  
  <body class="ankete">
  <!--todo remove margin on top-->
  <img class="nadpis" src="../images/nadpisankete.png" alt="vyber kostymov" >
	<div class="ankete">
		<form action="/movieAnkete" method="post">
    
	   	  <div class="errorMsg">
	        {% for error in errors %}
	            {{error}}<br/>
	        {% endfor %}
	      </div>
	       
	      
	      
		 	{% for q in questions %}
			 	<div class="nadpis" style="display:inline-block; float:left;"> 
			        <img src="../images/star.png" alt="little star" height="13" width="13"/>
			        {{q.text}}  
		        </div>  
				<div class="other {% if q.name in errorIds %} radioerror{% endif%}">
					{% for opt in q.options %}
						<label>
							<input class="radiobutton" type="radio" name="{{q.name}}" value="{{opt.value}}" {% if p[q.name] == opt.value %} checked {% endif %}/>
							{{opt.label}}
						</label>
						<br>
					{% endfor %}
				</div>
			{% endfor %}
          
			<div>
				<input type="submit" value="Hotovo" style="margin-bottom: 50px;"/>
			</div>
 		</form>
    </div>
 
  </body>
</html>
{% endautoescape %}

