<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
  	<title>Uvod</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
  </head>
  
  <body>

	<div class="content">
		<form action="/" method="post">
	    
	      <div class="errorMsg">
	        {% for error in errors %}
	            {{error}}<br/>
	        {% endfor %}
	      </div>
	    
	      <div>      
		  	<input maxlength="200" type="text" name="firstname" id="fname" {% if 'firstname' in errorIds %} class="error" {% endif%} value="{{p.firstname}}"/>
	        <label for="fname">Identifikačné číslo</label>
	        <br>
	      </div>
	      
	      <input type="submit" val="Pokračovať"/>
	  	</form>
  	</div>
        
  </body>
</html>
{% endautoescape %}