body {
	/*background-image: url('../images/background.jpg');
	background-position: top center;*/
	background-color: #555;
	/*background-repeat: no-repeat;*/
	font-family: arial, sans-serif;
}

.content {
	width: 500px;
	margin: 500px auto;
	background-color: white;
}

.front {
	z-index: 100;
}

.errorlist {
	list-style: none;	
}

.image1 {
	background-image: url('../images/focusAlbrecht.png');
}

.image2 {
	background-image: url('../images/focusHtc.png');
}

.focus {
	z-index: -100;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.text {
	color: white;
	position: absolute;
	top: 7%;
	left: 7%;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: rgba(30, 30, 30, 0.1);
	border-style:solid;
	border-color:white;
	border-width:1px;
	padding: 15px;
	width: 15%;
	min-width:180px;
	font-size:large;
	text-align:left;
}

.sbutton{
	background-color: rgba(30, 30, 30, 0);
	border-style:solid;
	border-color:white;
	border-width:1px;
	padding: 5px;
	width: 150px;
	color:white;
}


.button {
	width: 50px;
	height: 50px;
}


#button1 {
	position: absolute;
	top: 30%;
	left: 50%;
}

#button2 {
	position: absolute;
	top: 70%;
	left: 50%;
}


